@import "~bootstrap-css-only/css/bootstrap.min.css";
@import "./styles/Antd/antd.cleanui";
@import "./styles/Bootstrap/bootstrap.cleanui";
@import "./styles/CleanUI/cleanui";
@import "./styles/Nprogress/nprogress.cleanui";
@import "./styles/Rcdrawer/rcdrawer.cleanui";
@import "./styles/PerfectScrollbar/perfectscrollbar.cleanui";

.anticon {
  vertical-align: 0.025em;
}
.ant-table-small {
  border: 0 !important;
}
.ant-table-body {
  margin: 0 !important;
}
body {
  background-color: #fff;
}
.ant-layout-sider-children {
  background-color: #fafafa;
}
.podcast-cover-image-upload {
  .ant-upload-select-picture-card {
    width: 155px;
    height: 155px;
  }
}
.ant-tooltip {
  font-size: 12px !important;
}
.ant-tooltip-inner {
  min-height: 25px !important;
  padding: 2px 6px !important;
}
.ant-layout {
  overflow-x: inherit !important;
}
.ps-container {
  background-color: #fafafa;
}
.ant-menu-inline {
  background-color: #fafafa;
}
.ant-menu-sub.ant-menu-inline {
  background-color: #fafafa;
}

.editable-cell {
  position: relative;
}

.editable-cell-input-wrapper,
.editable-cell-text-wrapper {
  padding-right: 24px;
}

.editable-cell-text-wrapper {
  padding: 5px 24px 5px 5px;
}

.editable-cell-icon,
.editable-cell-icon-check {
  position: absolute;
  right: 0;
  width: 20px;
  cursor: pointer;
}

.editable-cell-icon {
  line-height: 18px;
  display: none;
}

.editable-cell-icon-check {
  line-height: 28px;
}

.editable-cell:hover .editable-cell-icon {
  display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
  color: #108ee9;
}

.editable-add-btn {
  margin-bottom: 8px;
}
